<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Impressum</h2>

<p>
Diese Internetseite verfolgt keine geschäftlichen Zwecke, sondern soll
Schülerinnen und Schülern die Möglichkeit geben, einfache Grundrechenarten zu
üben - ohne Registrierung, ohne Tracking und ohne Kosten. Da dies auch für mein
eigenes Kind gilt, verfolgt diese Internetseite nach §55 TMG einen "persönlichen
oder familiären Zweck". Da die Seite der Allgemeinheit zugänglich ist, kann die
Ausschließlichkeit des Zwecks angefechtet werden. Eine Impressumpflicht ist
jedoch nach derzeitiger Rechtsprechung erst dann gegeben, wenn Werbung mit der
Website geschaltet wird und die Verwendung der Seite kostenpflichtig wäre.
</p>

{% endblock content %}
