<!-- templates/aufgaben.html -->
{% extends 'base.html' %}

{% block content %}

<h2>Aufgaben</h2>

<ul class="vertical">
    <li><a href="{% url 'ten_space' %}">10er-Raum</a></li>
    <li><a href="{% url 'zwanzigerraum' %}">20er-Raum</a></li>
    <li><a href="{% url 'hunderterraum' %}">100-Raum</a></li>
    <li><a href="{% url 'tausenderraum' %}">1000er-Raum</a></li>
    <li><a></a></li>
    <li><a href="{% url 'about' %}">Kleines 1x1</a></li>
    <li><a href="{% url 'about' %}">Großes 1x1</a></li>
</ul>

{% endblock content %}
