<!-- templates/plus_in_10space_check.html -->
{% extends 'base.html' %}

{% block content %}

<h2>Plus rechnen im 10er-Raum</h2>
<h3>Antworten prüfen</h3>

<ul>
    <table style="width:20%">
        {% for task in answered_tasks %}
        <tr>
            {% if task.3 == task.4 %}
                <td>{{ task.0 }}{{ task.2 }}{{ task.1 }} = </td><td>{{ task.3 }}</td><td> &#128515</li>
            {% elif task.4 == '?' %}
                <td>{{ task.0 }}{{ task.2 }}{{ task.1 }} = </td><td>?</td>
            {% else %}
                <td>{{ task.0 }}{{ task.2 }}{{ task.1 }} &#8800 </td><td>{{ task.3 }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    </br>
    Du hast {{ answered_tasks.9.5 }} &#128515 von 10.
    </div>
    </br></br>
  <a href="/plus_in_10space/"><button type="button">Neue Aufgaben</button></a>

</ul>

{% endblock content %}
