<!-- templates/zehnerraum.html -->
{% extends 'base.html' %}

{% block content %}

<h2>10er-Raum</h2>

<ul class="vertical">
    <li><a href="{% url 'plus_in_10space' %}">Plus rechnen</a></li>
    <li><a href="{% url 'minus_in_10space' %}">Minus rechnen</a></li>
    <li><a href="{% url 'about' %}">Plus und Minus rechnen</a></li>
    <li><a href="{% url 'about' %}">Vorgänger und Nachfolger</a></li>
    <li><a href="{% url 'about' %}">Größer, kleiner oder gleich?</a></li>
    <li><a href="{% url 'about' %}">Ergänze!</a></li>
    <li><a href="{% url 'about' %}">Gemischte Aufgaben</a></li>
</ul>

{% endblock content %}
