<!-- templates/zwanzigerraum.html -->
{% extends 'base.html' %}

{% block content %}

<h2>20er-Raum</h2>

<ul class="vertical">
    <li><a href="{% url 'about' %}">Plus rechnen</a></li>
    <li><a href="{% url 'about' %}">Minus rechnen</a></li>
    <li><a href="{% url 'about' %}">Plus und Minus rechnen</a></li>
    <li><a href="{% url 'about' %}">Plus rechnen mit Zehnerübergang</a></li>
    <li><a href="{% url 'about' %}">Minus rechnen mit Zehnerübergang</a></li>
    <li><a href="{% url 'about' %}">Plus und Minus rechnen mit Zehnerübergang</a></li>
    <li><a href="{% url 'about' %}">Vorgänger und Nachfolger</a></li>
    <li><a href="{% url 'about' %}">Größer, kleiner oder gleich?</a></li>
    <li><a href="{% url 'about' %}">Gemischte Aufgaben</a></li>
    <li><a></a></li>
    <li><a href="{% url 'about' %}">Malnehmen</a></li>
    <li><a href="{% url 'about' %}">Teilen</a></li>
    <li><a href="{% url 'about' %}">Malnehmen und Teilen</a></li>
</ul>

{% endblock content %}
